
link(rel='stylesheet' type='text/css' href='../../_styles/master.css')
link(rel='stylesheet' href='https://s3.amazonaws.com/icomoon.io/12424/AngryEagle/style.css?jdjcm2')
script(type='text/javascript' src='../../_scripts/min/fancybox-min.js')

body

  .overlay.map
   
    h3.headline
      span.icon-map 
      |  How Remote Are We?
    
    h4.section-head We&rsquo;re so remote we don&rsquo;t even have an address. Seriously.
      
    img(src='../../_images/map.svg' alt='Alaska Map showing Angry Eagle Lodge &amp; Outfitters')

    a.button Shipping Details
