
include _includes/head

  body

    include _includes/video

    .wrapper

      .layout.home

        .main

          section.grid
          
            include _includes/slides

        aside.sidebar

          include _includes/sidebar
