
.slidesbox
  height: 100% /* Or set a fixed height */
  overflow: hidden
  position: relative

.slider
  color: $white
  font-size: 0
  height: 100%
  transition: .8s
  white-space: nowrap

  .button
    button(300px)

  & > *
    background: none 50% no-repeat
    background-size: cover
    display: inline-block
    font-size: 1rem
    height: 100%
    vertical-align: top
    white-space: normal
    width: 100%

    @media screen and (max-width: 1000px)
      margin-right: 10%
      width: 90%

    @media screen and (max-width: 700px)
      margin-right: 0
      width: 100%

#s1:target ~ .slider
  transform: translateX(0%)

#s2:target ~ .slider
  transform: translateX(-100%)

#s3:target ~ .slider
  transform: translateX(-200%)

.logo
  bottom: 9px
  left: 70px
  max-width: 320px
  position: absolute
  width: 38%

  @media screen and (max-width: 700px)
    left: 0
    position: relative
    width: 15%
    margin: 0 auto
    display: block

  @media screen and (max-height: 750px)
    display: none

.tag
  float: right
  margin-left: 110px
  padding-bottom: 11px

.snipe
  width: 180px

.s1
  lines()
  margin-top: 132px
  padding-left: 281px

  @media screen and (max-width: 1000px)
    padding-left: 26vw

  @media screen and (max-width: 900px)
    margin-top: 0
    padding-left: 33vw

  @media screen and (max-width: 700px)
    padding-left: 0

  .tag
    font-size: 1.75em
    line-height: 1.28em
    primary-font($light)
    text-transform: uppercase

    @media screen and (max-width: 900px)
      text-align: right

    @media screen and (max-width: 700px)
      margin: 0 auto
      padding-bottom: 5vh
      text-align: center
      width: 80%
      float: none

    span
      primary-font($bold)

  .button
    float: right

    @media screen and (max-width: 700px)
      margin: 0 auto
      float: none


.s2
  lines()
  padding-right: 423px

  @media screen and (max-width: 1000px)
    padding-right: 32vw
    margin-left: 10%
    width: 80%

  @media screen and (max-width: 700px)
    padding: 0
    margin: 0 10%

  &:before
    margin-top: 31vh

    @media screen and (max-width: 700px)
      margin-top: 0

  .testie
    font-size: 1.5em
    letter-spacing: 1px
    line-height: 1.2em
    margin: 5em 1vw 0
    padding-bottom: 30px
    primary-font($bold)

    span
      font-style: italic
      text-transform: uppercase

  .author
    letter-spacing: 2px
    line-height: 1.8em
    margin: 0 1vw
    primary-font($light)
    text-align: right

  .woo
    bottom: 0
    position: absolute
    right: -101%
    width: 48%

    @media screen and (max-width: 700px)
      bottom: -140px
      right: -79%
      width: 50%

    @media screen and (max-height: 800px)
      display: none

  .button
    float: right
    margin: 80px 12% 0 0

    @media screen and (max-width: 700px)
      margin: 55px 0 0

.s3
  lines()
  padding: 0 7.5vw
  position: relative

  @media screen and (max-width: 1000px)
    padding: 0 0 0 10%

  @media screen and (max-width: 700px)
    padding: 0 10%

  &:before
    margin-top: 12vh

  .snipe
    left: 1vw
    margin-left: 7.5vw
    position: absolute
    top: 23vh
    width: 27.5px

  .legit
    float: left
    padding-right: 20px
    width: 28%

  .folio
    font-size: 1.5em
    letter-spacing: 1.1px
    margin: 17px 1vw 9px 4vw
    primary-font($regular)
    line-height: 1.3em

  .proof
    font-size: .875em
    letter-spacing: 1px
    margin: 0 1vw
    primary-font($light)

  .button
    float: right
    margin: 30px 1vw 0 0

  .boxes
    height: 100px
    position: absolute
    right: 7.5vw
    top: 56vh
    width: 55%

    @media screen and (max-width: 900px)
      top: 45vh
      margin: 0 15%
      right: inherit
      width: 60%

    @media screen and (max-width: 700px)
      margin: 0 10%

    @media screen and (max-height: 975px)
      margin-top: 5vh

    @media screen and (max-height: 812px)
      display: none

    &.bottom
      top: 70vh

      @media screen and (max-width: 900px)
        top: 64vh

    .carousel

      li
        margin-right: 0

      .flex-direction-nav, &:hover .flex-direction-nav
        .flex-prev, .flex-next
          opacity: 1

    .flex-direction-nav a
      color: transparent
      text-shadow: none

      &:after
        color: $white
        font-family: 'lindseymaddox'
        font-size: 26px
        position: absolute
        right: 0
        top: 0
        transition: color 800ms ease
        vertical-align: middle

      &:before
        color: $white
        font-family: 'lindseymaddox'
        font-size: 26px
        position: absolute
        right: 0
        top: 0
        transition: color 800ms ease
        vertical-align: middle

    .flex-direction-nav a.flex-next::before
      content: "\e900"

    .flex-direction-nav a.flex-prev::before
      content: "\e900"
      transform: rotate(180deg)

    .flexslider .flex-direction-nav .flex-next,
    .flexslider:hover .flex-direction-nav .flex-next
      right: -35px

    .flexslider .flex-direction-nav .flex-prev,
    .flexslider:hover .flex-direction-nav .flex-prev
      left: -50px

  .type
    font-size: 1.2em
    letter-spacing: 3px
    position: absolute
    primary-font($light)
    line-height: 100px
    right: 610px
    text-align: right
    text-transform: uppercase
    top: 11px

    @media screen and (max-width: 1000px)
      right: 550px
      top: 4px

    @media screen and (max-width: 900px)
      font-size: 1em
      position: relative
      right: inherit
      text-align: center
      top: 25px

    @media screen and (max-height: 975px)
      display: none

  .box
    display: inline-block
    width: 100px

    img
      filter: grayscale(100%)
      opacity: .5
      transition: all 900ms ease
      width: 100%

      &:hover
        filter: none
        opacity: 1

.flexslider
  background: transparent
  border: 0

.fancybox-toolbar
  opacity: 1
  right: 21px
  top: 28px
  visibility: visible

.fancybox-button--fullscreen,
.fancybox-button--share
  display: none

.fancybox-image
  bottom: 40px

#testimonials, #travis, #tuba, #symphony, #aidswalk, #people, #rsg, #petrelli, #sounds, #oceano, #martha, #kenricks, #kitty, #fasterfitness, #skulls, #inquicker, #angry, #coffeelunch, #bkon, #cirrus, #precision, #tsu, #connico, #sef, #inquicker, #slideshow
  display: none
  max-height: 100%
  max-width: 100%

#hideshow
  display: none

  .fancybox
    height: 70vh
    width: 80vw

    img
      width: 100%

#testimonials
  color: $white
  height: 80vh
  max-width: 700px
  text-align: left

  p
    font-size: 1em
    padding-bottom: 20px
    primary-font($light)

  h4, h5
    font-size: .8em
    letter-spacing: 2px
    padding-bottom: 5px
    primary-font($bold)
    text-align: right
    text-transform: uppercase

  h4
    font-size: 1em

  h5
    border-bottom: 1px solid $white
    margin-bottom: 60px
    padding-bottom: 40px
