
.slides
  height: 100% /* Or set a fixed height */
  overflow: hidden
  position: relative

.slider
  color: $white
  font-size: 0
  height: 100%
  transition: .8s
  white-space: nowrap

  .button
    button(300px)

.slider > *
  background: none 50% no-repeat
  background-size: cover
  display: inline-block
  font-size: 1rem
  height: 100%
  vertical-align: top
  white-space: normal
  width: 100%

#s1:target ~ .slider
  transform: translateX(0%)

#s2:target ~ .slider
  transform: translateX(-100%)

#s3:target ~ .slider
  transform: translateX(-200%)

.logo
  left: 0
  margin: 3vh 0 0
  position: absolute
  width: 38%

.tag
  float: right
  margin-left: 1vw
  padding-bottom: 65px

.snipe
  width: 180px

.s1
  lines()
  padding-left: 360px

  .tag
    font-size: 1.75em
    line-height: 1.28em
    primary-font($light)
    text-transform: uppercase

    span
      primary-font($bold)

  .button
    clear: right
    float: right
    margin-right: 1vw

.s2
  lines()
  padding-right: 420px

  .testie
    font-size: 1.5em
    letter-spacing: 1px
    line-height: 1.2em
    margin: 5em 1vw 0
    padding-bottom: 30px
    primary-font($bold)

    span
      font-style: italic
      text-transform: uppercase

  .author
    letter-spacing: 2px
    line-height: 1.8em
    margin: 0 1vw
    primary-font($light)
    text-align: right

  .woo
    margin: 7vh 0 0
    position: absolute
    right: -102%
    width: 44%

  .button
    float: right
    margin: 80px 1vw 0 0

.s3
  lines()
  padding: 0 10vw
  position: relative

  &:before
    margin-top: 12vh

  .snipe
    left: 1vw
    margin-left: 10.5vw
    position: absolute
    top: 15vh
    width: 27.5px

  .folio
    font-size: 1.75em
    letter-spacing: 1.2px
    margin: 17px 0 9px 5vw
    primary-font($regular)
    line-height: 1.3em

  .proof
    font-size: .875em
    letter-spacing: 1px
    margin: 0 1vw
    primary-font($light)

  .button
    float: right
    margin: 30px 1vw 0 0

  .boxes
    height: 100px
    overflow: hidden
    padding: 0 10vw
    position: absolute
    right: 0
    top: 51vh
    width: 100%

    &.bottom
      top: 64vh

    &:after
      content: '\e907'
      font-family: 'icons'
      font-size: 26px
      position: absolute
      right: 110px
      top: 38px
      transition: color 800ms ease
      vertical-align: middle

    &:hover:after
      color: $green

  .type
    float: left
    font-size: 1.2em
    letter-spacing: 3px
    primary-font($light)
    line-height: 100px
    text-align: right
    text-transform: uppercase
    width: 25%

  .box
    display: inline-block
    float: right
    margin: 0 1vw
    width: 100px

    img
      filter: grayscale(100%)
      transition: filter 900ms ease
      width: 100%

      &:hover
        filter: none
