html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
-webkit-box-sizing border-box,
-moz-box-sizing border-box,
box-sizing border-box,
-moz-background-clip padding-box !important,
-webkit-background-clip padding-box !important,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
html {
  font-size: 16px;
}
@-moz-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-o-keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-toggle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-moz-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon-grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-webkit-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-o-keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@keyframes hover-width {
  0% {
    width: 0px;
  }
  80% {
    width: 220px;
  }
  100% {
    width: 200px;
  }
}
@-moz-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-o-keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes link-opacity {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
@-moz-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@-o-keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes layout-slide {
  0% {
    margin-left: 280px;
  }
  30% {
    margin-left: 355px;
  }
  100% {
    margin-left: 0;
  }
}
@font-face {
  font-family: 'lindseymaddox';
  font-style: normal;
  font-weight: normal;
  src: url("../_fonts/lindseymaddox.eot");
  src: url("../_fonts/lindseymaddox.eot#iefix") format('embedded-opentype'), url("../_fonts/lindseymaddox.ttf") format('truetype'), url("../_fonts/lindseymaddox.woff") format('woff'), url("../_fonts/lindseymaddox.svg#lindseymaddox") format('svg');
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'lindseymaddox' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
/* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.icon-arrow:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-nashville:before {
  content: "\e904";
}
.icon-portfolio:before {
  content: "\e905";
}
.icon-resume:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay.jpg");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1000px) and (max-resolution: 191dpi) {
  html {
    background-image: url("/_images/puzzle-overlay.jpg");
    background-size: cover;
    height: 100%;
  }
}
@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-medium.jpg");
  }
}
@media (max-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 500px) and (max-resolution: 191dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-small.jpg");
  }
}
@media (max-width: 250px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 250px) and (min-resolution: 192dpi) {
  html {
    background-image: url("/_images/puzzle-overlay-small.jpg");
  }
}
body {
  background-color: #080808;
}
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}
.layout {
  background-color: rgba(226,229,234,0.67);
}
.layout.home {
  background-color: transparent;
}
.layout .main {
  width: 100%;
  z-index: 0;
}
.layout .main .grid {
  height: 100vh;
  margin: 0 auto;
}
.layout .sidebar {
  bottom: 0;
  padding: 35px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  z-index: 99;
}
.layout--collapsed {
  animation: layout-slide 400ms 100ms forwards;
}
.scroll-indicatory {
  bottom: 70px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.scroll-indicatory .dot {
  animation: dot 13s 3s infinite ease-in-out;
  background-color: rgba(226,229,234,0.5) /* Dim all but first */;
  border: 1px solid #e2e5ea;
  border-radius: 10px;
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 12px;
}
.scroll-indicatory >*:nth-child(1) {
  animation-delay: 3.25s;
  background: #3db779;
}
.scroll-indicatory >*:nth-child(2) {
  animation-delay: 3.5s;
}
.scroll-indicatory >*:nth-child(3) {
  animation-delay: 3.75s;
}
.scroll-indicatory >*:nth-child(4) {
  animation-delay: 4s;
}
#s1:target ~ .scroll-indicatory >*:nth-child(1) {
  background: #3db779;
}
#s1:target ~ .scroll-indicatory >*:not(:nth-child(1)) {
  background: rgba(226,229,234,0.5);
}
#s2:target ~ .scroll-indicatory >*:nth-child(2) {
  background: #3db779;
}
#s2:target ~ .scroll-indicatory >*:not(:nth-child(2)) {
  background: rgba(226,229,234,0.5);
}
#s3:target ~ .scroll-indicatory >*:nth-child(3) {
  background: #3db779;
}
#s3:target ~ .scroll-indicatory >*:not(:nth-child(3)) {
  background: rgba(226,229,234,0.5);
}
#s4:target ~ .scroll-indicatory >*:nth-child(4) {
  background: #3db779;
}
#s4:target ~ .scroll-indicatory >*:not(:nth-child(4)) {
  background: rgba(226,229,234,0.5);
}
.scroll-indicatory .dot:hover {
  background: #e2e5ea !important;
  opacity: 1 !important;
  transform: none !important;
}
@-moz-keyframes dot {
  0% {
    opacity: 1;
  }
  5% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  15% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  31% {
    opacity: 1;
  }
}
@-webkit-keyframes dot {
  0% {
    opacity: 1;
  }
  5% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  15% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  31% {
    opacity: 1;
  }
}
@-o-keyframes dot {
  0% {
    opacity: 1;
  }
  5% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  15% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  31% {
    opacity: 1;
  }
}
@keyframes dot {
  0% {
    opacity: 1;
  }
  5% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  15% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  31% {
    opacity: 1;
  }
}
form.nav_contact {
  width: 70%;
}
form.nav_contact input {
  background-color: #e2e5ea;
  border: none;
  color: #403d3c;
  display: block;
  letter-spacing: 2px;
  margin-bottom: 15px;
  padding: 10px 0;
  text-indent: 10px;
  text-transform: uppercase;
  width: 100%;
}
form.nav_contact input[type='button'] {
  background-color: #3db779;
  border: 1px solid #3db779;
  color: #e2e5ea;
  display: block;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 15px;
  max-width: 260px;
  outline: 0;
  padding: 1.2em 0;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 400ms;
  width: 100%;
  text-indent: 0;
}
form.nav_contact input[type='button']:after {
  content: '\e900';
  font-family: 'lindseymaddox';
  font-size: 14px;
  padding-left: 10px;
  vertical-align: bottom;
}
form.nav_contact input[type='button']:hover {
  background-color: transparent;
  border: 1px solid #e2e5ea;
  cursor: pointer;
}
.nav-pane .nav-items {
  margin: 140px auto 0;
  letter-spacing: 4px;
}
@media screen and (max-height: 700px) {
  .nav-pane .nav-items {
    margin-top: 80px;
  }
}
.nav-pane .nav-items .sub.phones a,
.nav-pane .nav-items .sub.phones p,
.nav-pane .nav-items .sub.phones h1,
.nav-pane .nav-items .sub.phones h2 {
  font-size: 15px;
  height: auto;
  text-decoration: none;
  color: #000;
  padding-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
.nav-pane .nav-items .sub.phones h1 {
  font-size: 32px;
}
.nav-pane .nav-items .sub.phones h2 {
  font-size: 20px;
  line-height: 28px;
  padding: 18px 0;
}
.nav-pane .nav-items a {
  display: block;
  text-align: center;
  font-size: 3.5em;
  height: 63px;
}
.nav-pane .nav-items a:before {
  font-size: 0.5em;
}
.nav-pane .nav-items a:not(.sub),
.nav-pane .nav-items a:not(.sub a) {
  margin-bottom: 10px;
  position: relative;
}
.nav-pane .nav-items a:not(.sub) span,
.nav-pane .nav-items a:not(.sub a) span {
  position: absolute;
  top: 1em;
  left: 80px;
}
.nav-pane .nav-items a:before {
  vertical-align: middle;
}
.nav-pane .nav-items a .list-item {
  font-size: 0.35em;
  vertical-align: middle;
  height: 0;
  padding-left: 0.35em;
  text-transform: uppercase;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  line-height: 1em;
}
.nav-pane .nav-items a.sub {
  font-size: 2em;
  margin-left: 0.65em;
  cursor: pointer;
}
.nav-pane .nav-items a.sub span {
  padding-left: 0.75em;
  font-size: 0.475em;
}
[class^="list"] {
  position: relative;
}
[class^="list"] input.droppers {
  position: absolute;
  left: -99999px;
  top: -99999px;
}
[class^="list"] label {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  right: 15px;
  top: 0;
  padding-left: 0;
  height: 40px;
}
.nav-pane {
  transition: 250ms;
  position: fixed;
  transform: translateX(0px);
  top: 0;
  height: 100vh;
  right: -150px;
  width: 75px;
}
.nav-pane.home {
  background-color: transparent;
}
.nav-pane.home .nav-items a label:hover .dropdown span.bar {
  background: #3db779;
}
.nav-pane.home .nav-items a:hover:before {
  color: #3db779;
}
.nav-pane.home .nav-items a:before {
  color: #000;
}
.nav-pane.home .nav-items a span {
  color: #000;
}
.nav-pane.home .nav-items a .dropdown span.bar {
  background: #e2e5ea;
}
.nav-pane.home [class^="icon-"] {
  display: none;
}
.nav-pane.open {
  transform: translateX(-148px);
  transition: 250ms;
  width: 272px;
  background-color: rgba(226,229,234,0.9);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.nav-pane.open .copyline {
  color: #e2e5ea;
  height: 20px;
}
.nav-pane.open .nav-items {
  margin-left: 10px;
}
.nav-pane.open .nav-items .dropdown {
  display: inline-block;
  width: 100%;
  height: 40px;
}
.nav-pane.open .nav-items a[class^="icon-"] {
  display: block;
  font-size: 5em;
  line-height: 57px;
  margin: 0 auto;
}
.nav-pane.open .nav-items a.icon-email {
  padding-top: 30px;
}
.nav-pane.open .nav-items a {
  cursor: pointer;
  text-decoration: none;
}
.nav-pane.open .nav-items a span {
  display: inline-block;
}
.nav-pane.open .nav-items a span.map {
  font-size: 15px;
  margin-right: 0;
  vertical-align: middle;
  line-height: 1.4em;
}
.nav-pane.open .nav-items a:hover span {
  color: #3db779;
}
.nav-pane.open .nav-items a .list-item {
  opacity: 1;
  display: inline;
  margin-left: 0;
  position: inherit;
  height: inherit;
  line-height: 1em;
  background-color: transparent;
  padding: inherit;
}
.nav-pane.open .nav-items a .list-item span {
  padding-left: 51px;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .sub {
  height: 40px;
  margin-bottom: 10px;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .sub:last-child {
  margin-bottom: 27px;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .sub.phones {
  margin-bottom: 20px;
  height: auto;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .sub.phones a {
  line-height: 1em;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .sub.form {
  height: auto;
  padding-left: 70px;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .sub.socials {
  height: 60px;
}
.nav-pane.open .nav-items [class^="list"] input:checked ~ .icon-dropdown {
  transition: 250ms;
  transform: rotate(180deg);
}
.nav-pane.open [class^="list"] label {
  display: inline-block;
}
.nav-pane.open .nav-items .socials {
  position: absolute;
  bottom: 10vh;
  width: 100%;
}
.toggle-nav {
  cursor: pointer;
  text-align: center;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: $primary-font-light;
  line-height: 1.5em;
  position: fixed;
  right: 11px;
}
.toggle-nav span.c {
  margin-left: 10px;
}
.toggle-nav span.c,
.toggle-nav span.o,
.toggle-nav span.n,
.toggle-nav span.a,
.toggle-nav span.b,
.toggle-nav span.t {
  display: inline-block;
  font-size: 24px;
  opacity: 0;
  transition: 250ms;
  letter-spacing: 1px;
  vertical-align: middle;
}
.toggle-nav span.e {
  display: inline-block;
  height: 14px;
  width: 20px;
  vertical-align: middle;
  margin: 0 2px;
}
.toggle-nav span.e.btn-close span.bar:nth-child(1) {
  transition: 250ms;
  transform: rotate(45deg);
  top: 6px;
}
.toggle-nav span.e.btn-close span.bar:nth-child(2) {
  opacity: 0;
  transition: 250ms;
}
.toggle-nav span.e.btn-close span.bar:nth-child(3) {
  transition: 250ms;
  transform: rotate(-45deg);
  bottom: 6px;
}
.toggle-nav span.e span.bar {
  transition: 250ms;
  position: relative;
  display: block;
  background: #3db779;
  border-radius: 1px;
  border-bottom: 1.8px solid #3db779;
  width: 20px;
  height: 2.5px;
}
.toggle-nav span.e span.bar:nth-child(2) {
  margin: 3.6px 0;
}
.toggle-nav:hover span.c,
.toggle-nav:hover span.o,
.toggle-nav:hover span.n,
.toggle-nav:hover span.a,
.toggle-nav:hover span.b,
.toggle-nav:hover span.t {
  opacity: 1;
  transition: 250ms;
  color: #3db779;
}
.toggle-nav:hover span.e span.bar {
  background-color: #3db779;
  border-bottom-color: #3db779;
}
.toggle-nav.open span.c,
.toggle-nav.open span.o,
.toggle-nav.open span.n,
.toggle-nav.open span.a,
.toggle-nav.open span.b,
.toggle-nav.open span.t {
  opacity: 0;
  transition: opacity 400ms ease-out;
}
input:checked ~ [class^="icon"] span.bar:nth-child(1) {
  transition: 250ms;
  transform: rotate(45deg);
  transform-origin: center center;
  margin: 0px 1px 21.5px 20px;
}
input:checked ~ [class^="icon"] span.bar:nth-child(2) {
  transition: 250ms;
  transform: rotate(-45deg);
  transform-origin: center center;
  margin: 0px 0px 21px -2px;
}
.dropdown span.bar {
  transition: 250ms;
  display: inline-block;
  background: #3db779;
  height: 20px;
  width: 1px;
}
.dropdown span.bar:nth-child(1) {
  transition: 250ms;
  transform: rotate(-40deg);
  transform-origin: center center;
  margin: 0 14px 21.5px 14px;
}
.dropdown span.bar:nth-child(2) {
  transition: 250ms;
  transform: rotate(40deg);
  transform-origin: center center;
  margin: 0px 0px 21.5px -2px;
}
.background-overlay {
  background: rgba(226,229,234,0.6);
  border-top: 4px solid #c33;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
video {
  background-size: cover;
  height: 110%;
  left: 50%;
  position: fixed;
  top: 48.5%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -1;
}
h2.headline {
  color: #e2e5ea;
  font-size: 2.8125em;
  line-height: 1.3em;
  margin-top: -3.75em;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h2.headline a {
  border-bottom: 0 solid #3db779;
  color: #e2e5ea;
  font-style: italic;
  text-decoration: none;
  transition: all 300ms ease;
}
h2.headline a:hover {
  border-bottom-width: 2px;
  color: #3db779;
}
.slidesbox {
  height: 100% /* Or set a fixed height */;
  overflow: hidden;
  position: relative;
}
.slider {
  color: #e2e5ea;
  font-size: 0;
  height: 100%;
  transition: 0.8s;
  white-space: nowrap;
}
.slider .button {
  background-color: #3db779;
  border: 1px solid #3db779;
  color: #e2e5ea;
  display: block;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 15px;
  max-width: 260px;
  outline: 0;
  padding: 1.2em 0;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease 400ms;
  width: 300px;
}
.slider .button:after {
  content: '\e900';
  font-family: 'lindseymaddox';
  font-size: 14px;
  padding-left: 10px;
  vertical-align: bottom;
}
.slider .button:hover {
  background-color: transparent;
  border: 1px solid #e2e5ea;
  cursor: pointer;
}
.slider > * {
  background: none 50% no-repeat;
  background-size: cover;
  display: inline-block;
  font-size: 1rem;
  height: 100%;
  vertical-align: top;
  white-space: normal;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .slider > * {
    margin-right: 10%;
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .slider > * {
    margin-right: 0;
    width: 100%;
  }
}
#s1:target ~ .slider {
  transform: translateX(0%);
}
#s2:target ~ .slider {
  transform: translateX(-100%);
}
#s3:target ~ .slider {
  transform: translateX(-200%);
}
.logo {
  bottom: 9px;
  left: 70px;
  max-width: 320px;
  position: absolute;
  width: 38%;
}
@media screen and (max-width: 700px) {
  .logo {
    left: 0;
    position: relative;
    width: 15%;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-height: 750px) {
  .logo {
    display: none;
  }
}
.tag {
  float: right;
  margin-left: 110px;
  padding-bottom: 11px;
}
.snipe {
  width: 180px;
}
.s1 {
  margin-top: 132px;
  padding-left: 281px;
}
.s1:before {
  border: 2px solid #e2e5ea;
  border-bottom: none;
  border-left: none;
  border-right: none;
  float: right;
  margin: 30vh 0 45px;
  width: 100%;
  content: '';
}
@media screen and (max-width: 700px) {
  .s1:before {
    border: none;
    margin: 10vh 0 0;
  }
}
.s1:after {
  border: 2px solid #e2e5ea;
  border-left: none;
  border-right: none;
  border-top: none;
  float: right;
  margin: 45px 0 0;
  width: 100%;
  clear: right;
  content: '';
}
@media screen and (max-width: 700px) {
  .s1:after {
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .s1 {
    padding-left: 26vw;
  }
}
@media screen and (max-width: 900px) {
  .s1 {
    margin-top: 0;
    padding-left: 33vw;
  }
}
@media screen and (max-width: 700px) {
  .s1 {
    padding-left: 0;
  }
}
.s1 .tag {
  font-size: 1.75em;
  line-height: 1.28em;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .s1 .tag {
    text-align: right;
  }
}
@media screen and (max-width: 700px) {
  .s1 .tag {
    margin: 0 auto;
    padding-bottom: 5vh;
    text-align: center;
    width: 80%;
    float: none;
  }
}
.s1 .tag span {
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}
.s1 .button {
  float: right;
}
@media screen and (max-width: 700px) {
  .s1 .button {
    margin: 0 auto;
    float: none;
  }
}
.s2 {
  padding-right: 423px;
}
.s2:before {
  border: 2px solid #e2e5ea;
  border-bottom: none;
  border-left: none;
  border-right: none;
  float: right;
  margin: 30vh 0 45px;
  width: 100%;
  content: '';
}
@media screen and (max-width: 700px) {
  .s2:before {
    border: none;
    margin: 10vh 0 0;
  }
}
.s2:after {
  border: 2px solid #e2e5ea;
  border-left: none;
  border-right: none;
  border-top: none;
  float: right;
  margin: 45px 0 0;
  width: 100%;
  clear: right;
  content: '';
}
@media screen and (max-width: 700px) {
  .s2:after {
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .s2 {
    padding-right: 32vw;
    margin-left: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .s2 {
    padding: 0;
    margin: 0 10%;
  }
}
.s2:before {
  margin-top: 31vh;
}
@media screen and (max-width: 700px) {
  .s2:before {
    margin-top: 0;
  }
}
.s2 .testie {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 5em 1vw 0;
  padding-bottom: 30px;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
}
.s2 .testie span {
  font-style: italic;
  text-transform: uppercase;
}
.s2 .author {
  letter-spacing: 2px;
  line-height: 1.8em;
  margin: 0 1vw;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-align: right;
}
.s2 .woo {
  bottom: 0;
  position: absolute;
  right: -101%;
  width: 48%;
}
@media screen and (max-width: 700px) {
  .s2 .woo {
    bottom: -140px;
    right: -79%;
    width: 50%;
  }
}
@media screen and (max-height: 800px) {
  .s2 .woo {
    display: none;
  }
}
.s2 .button {
  float: right;
  margin: 80px 12% 0 0;
}
@media screen and (max-width: 700px) {
  .s2 .button {
    margin: 55px 0 0;
  }
}
.s3 {
  padding: 0 7.5vw;
  position: relative;
}
.s3:before {
  border: 2px solid #e2e5ea;
  border-bottom: none;
  border-left: none;
  border-right: none;
  float: right;
  margin: 30vh 0 45px;
  width: 100%;
  content: '';
}
@media screen and (max-width: 700px) {
  .s3:before {
    border: none;
    margin: 10vh 0 0;
  }
}
.s3:after {
  border: 2px solid #e2e5ea;
  border-left: none;
  border-right: none;
  border-top: none;
  float: right;
  margin: 45px 0 0;
  width: 100%;
  clear: right;
  content: '';
}
@media screen and (max-width: 700px) {
  .s3:after {
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .s3 {
    padding: 0 0 0 10%;
  }
}
@media screen and (max-width: 700px) {
  .s3 {
    padding: 0 10%;
  }
}
.s3:before {
  margin-top: 12vh;
}
.s3 .snipe {
  left: 1vw;
  margin-left: 7.5vw;
  position: absolute;
  top: 23vh;
  width: 27.5px;
}
.s3 .legit {
  float: left;
  padding-right: 20px;
  width: 28%;
}
.s3 .folio {
  font-size: 1.5em;
  letter-spacing: 1.1px;
  margin: 17px 1vw 9px 4vw;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  line-height: 1.3em;
}
.s3 .proof {
  font-size: 0.875em;
  letter-spacing: 1px;
  margin: 0 1vw;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
.s3 .button {
  float: right;
  margin: 30px 1vw 0 0;
}
.s3 .boxes {
  height: 100px;
  position: absolute;
  right: 7.5vw;
  top: 56vh;
  width: 55%;
}
@media screen and (max-width: 900px) {
  .s3 .boxes {
    top: 45vh;
    margin: 0 15%;
    right: inherit;
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  .s3 .boxes {
    margin: 0 10%;
  }
}
@media screen and (max-height: 975px) {
  .s3 .boxes {
    margin-top: 5vh;
  }
}
@media screen and (max-height: 812px) {
  .s3 .boxes {
    display: none;
  }
}
.s3 .boxes.bottom {
  top: 70vh;
}
@media screen and (max-width: 900px) {
  .s3 .boxes.bottom {
    top: 64vh;
  }
}
.s3 .boxes .carousel li {
  margin-right: 0;
}
.s3 .boxes .carousel .flex-direction-nav .flex-prev,
.s3 .boxes .carousel:hover .flex-direction-nav .flex-prev,
.s3 .boxes .carousel .flex-direction-nav .flex-next,
.s3 .boxes .carousel:hover .flex-direction-nav .flex-next {
  opacity: 1;
}
.s3 .boxes .flex-direction-nav a {
  color: transparent;
  text-shadow: none;
}
.s3 .boxes .flex-direction-nav a:after {
  color: #e2e5ea;
  font-family: 'lindseymaddox';
  font-size: 26px;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 800ms ease;
  vertical-align: middle;
}
.s3 .boxes .flex-direction-nav a:before {
  color: #e2e5ea;
  font-family: 'lindseymaddox';
  font-size: 26px;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 800ms ease;
  vertical-align: middle;
}
.s3 .boxes .flex-direction-nav a.flex-next::before {
  content: "\e900";
}
.s3 .boxes .flex-direction-nav a.flex-prev::before {
  content: "\e900";
  transform: rotate(180deg);
}
.s3 .boxes .flexslider .flex-direction-nav .flex-next,
.s3 .boxes .flexslider:hover .flex-direction-nav .flex-next {
  right: -35px;
}
.s3 .boxes .flexslider .flex-direction-nav .flex-prev,
.s3 .boxes .flexslider:hover .flex-direction-nav .flex-prev {
  left: -50px;
}
.s3 .type {
  font-size: 1.2em;
  letter-spacing: 3px;
  position: absolute;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  line-height: 100px;
  right: 610px;
  text-align: right;
  text-transform: uppercase;
  top: 11px;
}
@media screen and (max-width: 1000px) {
  .s3 .type {
    right: 550px;
    top: 4px;
  }
}
@media screen and (max-width: 900px) {
  .s3 .type {
    font-size: 1em;
    position: relative;
    right: inherit;
    text-align: center;
    top: 25px;
  }
}
@media screen and (max-height: 975px) {
  .s3 .type {
    display: none;
  }
}
.s3 .box {
  display: inline-block;
  width: 100px;
}
.s3 .box img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 900ms ease;
  width: 100%;
}
.s3 .box img:hover {
  filter: none;
  opacity: 1;
}
.flexslider {
  background: transparent;
  border: 0;
}
.fancybox-toolbar {
  opacity: 1;
  right: 21px;
  top: 28px;
  visibility: visible;
}
.fancybox-button--fullscreen,
.fancybox-button--share {
  display: none;
}
.fancybox-image {
  bottom: 40px;
}
#knockout,
#tulu,
#testimonials,
#travis,
#tuba,
#symphony,
#aidswalk,
#people,
#rsg,
#petrelli,
#sounds,
#oceano,
#martha,
#kenricks,
#kitty,
#fasterfitness,
#skulls,
#inquicker,
#angry,
#coffeelunch,
#bkon,
#cirrus,
#precision,
#tsu,
#connico,
#sef,
#slideshow {
  display: none;
  max-height: 100%;
  max-width: 100%;
}
#hideshow {
  display: none;
}
#hideshow .fancybox {
  height: 70vh;
  width: 80vw;
}
#hideshow .fancybox img {
  width: 100%;
}
#testimonials {
  color: #e2e5ea;
  height: 80vh;
  max-width: 700px;
  text-align: left;
}
#testimonials p {
  font-size: 1em;
  padding-bottom: 20px;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
#testimonials h4,
#testimonials h5 {
  font-size: 0.8em;
  letter-spacing: 2px;
  padding-bottom: 5px;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  text-align: right;
  text-transform: uppercase;
}
#testimonials h4 {
  font-size: 1em;
}
#testimonials h5 {
  border-bottom: 1px solid #e2e5ea;
  margin-bottom: 60px;
  padding-bottom: 40px;
}
#warp {
  width: 100%;
  max-width: 1000px;
  background: transparent;
  margin: 0 auto;
}
ul#gallery-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: 52% 0 10px;
  margin: 0;
  text-align: center;
  display: block;
}
li.gallery-item {
  display: inline-block;
  width: 19.5%;
  cursor: pointer;
  height: 10vw;
  background-color: rgba(0,0,0,0.3);
  position: relative;
}
.gallery-preview {
  margin: 0;
  padding: 10% 15%;
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s ease-out 0.2s;
}
.gallery-preview p {
  text-align: left;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: light;
  line-height: 1.5em;
  font-size: 0.75em;
  line-height: 1.6em;
  color: #e2e5ea;
  padding-bottom: 5px;
}
.gallery-preview p.author {
  text-align: right;
}
ul#gallery-container:hover li .gallery-preview {
  opacity: 0.5;
}
ul#gallery-container:hover li:hover .gallery-preview {
  opacity: 1;
}
input.gallery-selector:checked ~ label.gallery-label>.gallery-preview,
ul#gallery-container:hover li:hover .gallery-preview:hover {
  z-index: 5;
  transform: scale(1.15);
  transform-origin: middle center;
  transition: all 0.3s ease-out;
}
input.gallery-selector:checked ~ label.gallery-label>.gallery-preview {
  background: transparent;
}
label.gallery-label:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid rgba(0,0,0,0.3);
  bottom: -12px;
  left: 25%;
}
.gallery-fullsize {
  position: absolute;
  bottom: -50%;
  left: -50%;
  display: block;
  width: 200%;
  padding: 20px 10%;
  height: 200%;
  opacity: 0;
  color: #e2e5ea;
  transform: scale(0.25);
  transform-origin: bottom center;
  transition: all 0.3s ease-out;
  font-family: 'Quicksand', 'Arial', sans-serif;
  font-weight: light;
  line-height: 1.5em;
  background-color: rgba(61,183,121,0.9);
}
.gallery-fullsize:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid rgba(61,183,121,0.9);
  bottom: -12px;
  left: 37%;
}
ul#gallery-container:hover li.gallery-item:active .gallery-fullsize {
  z-index: 50;
  opacity: 0.75;
  border-radius: 10%;
  transform-origin: bottom center;
  transition: all 0.3s ease-out 0.2s;
}
ul#gallery-container:hover li:hover input.gallery-selector:checked ~ .gallery-fullsize {
  z-index: 10;
  opacity: 1;
  border-radius: 0;
}
input.gallery-selector:checked ~ .gallery-fullsize {
  display: block;
  opacity: 1;
  z-index: 10;
  transform: scale(1);
  transform-origin: middle center;
  transition: all 0.2s ease-in 0.3s;
}
input.gallery-selector {
  display: none;
}
label.gallery-label {
  cursor: pointer;
}
@media (max-width: 2000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 2000px) and (max-resolution: 191dpi) {
  .background-image {
    background-image: url("../_images/large/office-interior.jpg");
  }
}
@media (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 1000px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url("../_images/extramedium/office-interior.jpg");
  }
}
@media (max-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 1000px) and (max-resolution: 191dpi) {
  .background-image {
    background-image: url("../_images/medium/office-interior.jpg");
  }
}
@media (max-width: 900px) {
  .full {
    display: none;
  }
}
@media (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 500px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url("../_images/medium/office-interior.jpg");
  }
}
@media (max-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (max-width: 500px) and (max-resolution: 191dpi) {
  .background-image {
    background-image: url("../_images/small/office-interior.jpg");
  }
}
@media (max-width: 250px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 250px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url("../_images/small/office-interior.jpg");
  }
}
@media screen and (max-width: 1000px) {
  .full {
    display: none;
  }
}
