
doctype html
html(lang=locale)
  head
    block meta
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Lindsey Maddox | Web Developer + Designer
      meta(name='description' content='')

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=bOMOW6W7vr")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=bOMOW6W7vr")
    link(rel="icon", type="image/png", sizes="192x192", href="/android-chrome-192x192.png?v=bOMOW6W7vr")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=bOMOW6W7vr")
    link(rel="manifest", href="/site.webmanifest?v=bOMOW6W7vr")
    link(rel="mask-icon", href="/safari-pinned-tab.svg?v=bOMOW6W7vr", color="#000000")
    link(rel="shortcut icon", href="/favicon.ico?v=bOMOW6W7vr")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="theme-color", content="#000000")

    //- twitter card
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@lindseyemaddox')
    meta(name='twitter:creator' content='@lindseyemaddox')
    meta(name='twitter:title' content='Lindsey Maddox | Web Developer + Designer')
    meta(name='twitter:description' content='Lindsey Maddox is a top-performing web developer and graphic designer with a passion for creating beautiful, functional, fluidly responsive websites.')
    meta(name='twitter:image:src' content='https://www.lindseymaddox.com/_images/twitter-card.jpg')

    //- open graph
    meta(property='og:image:width' content='279')
    meta(property='og:image:height' content='279')
    meta(property='og:title' content='Lindsey Maddox | Web Developer + Designer')
    meta(property='og:url' content='https://www.lindseymaddox.com')
    meta(property='og:image' content='https://www.lindseymaddox.com/_images/og-image.jpg')
    meta(property='og:site_name' content='Lindsey Maddox | Web Developer + Designer')
    meta(property='og:description' content='Lindsey Maddox is a top-performing web developer and graphic designer with a passion for creating beautiful, functional, fluidly responsive websites.')

    block styles
      link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Quicksand:300,500,700')
      link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.min.css')
      link(rel='stylesheet' type='text/css' href='_styles/compiled.css')

    block scripts
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js')
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js')
      script(type='text/javascript' src='_scripts/min/nav-min.js')
      script(type='text/javascript' src='_scripts/min/main-min.js')
      script(type='text/javascript' src='_scripts/min/html5ext-min.js')
      
      script(type='text/javascript').
        $(document).ready(function() {
          $('.fancybox').fancybox();
        });

      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-55633656-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-55633656-1');
