
.nav-pane.slide-out.home

  .nav-items
  
    .sub.phones
    
      h1 Lindsey 
        br
        | Maddox
        
      h2 Designer
        br
        | Developer

      a(href='https://goo.gl/maps/xAuuD3BkYpn' target='_blank')
        span.map Nashville, TN

      a(href='tel:16159393523')
        span (615) 939-3523
        
      a.icon-email(href='mailto:dev@lindseymaddox.com' target='_blank')
      a.icon-github(href='https://github.com/lindseyemaddox' target='_blank')
      a.icon-linkedin(href='https://www.linkedin.com/in/lindseymaddox/' target='_blank')
      //- a.icon-twitter(href='http://twitter.com/lindseyemaddox' target='_blank')
    

.toggle-nav

  span.c C
  span.o O
  span.n N
  span.a N
  span.e
    span.bar
    span.bar
    span.bar
  span.b C
  span.t T
