script.
  (function() {

    $(window).load(function() {
      $('.flexslider').flexslider({
        minItems: getGridSize(), // use function to pull in initial value
        maxItems: getGridSize() // use function to pull in initial value
      });
    });
  })
#poompoom(style='display:none;')

      .slides-container

        .boxes

          h4.type Design

          .flexslider.carousel

            .slides

              a.box.fancybox(href='#cirrus')
                img(src='_images/box-cirrus.jpg')
                img#cirrus(src='_images/cirrus.jpg')

              a.box.fancybox(href='#symphony')
                img(src='_images/box-symphony.jpg')
                img#symphony(src='_images/symphony.jpg')

              a.box.fancybox(href='#travis')
                img(src='_images/box-travismeadows.jpg')
                img#travis(src='_images/travismeadows.jpg')

              a.box.fancybox(href='#aidswalk')
                img(src='_images/box-aidswalk.jpg')
                img#aidswalk(src='_images/aidswalk.jpg')

              a.box.fancybox(href='#kitty')
                img(src='_images/box-kitty.jpg')
                img#kitty(src='_images/kitty.jpg')

              //- a.box.fancybox(href='#fasterfitness')
              //-   img(src='_images/box-fasterfitness.jpg')
              //-   img#fasterfitness(src='_images/fasterfitness.jpg')

              a.box.fancybox(href='#tuba')
                img(src='_images/box-tuba.jpg')
                img#tuba(src='_images/tuba.jpg')

              a.box.fancybox(href='#tulu')
                img(src='_images/box-tulu.jpg')
                img#tulu(src='_images/tulu.jpg')

              a.box.fancybox(href='#skulls')
                img(src='_images/box-skulls.jpg')
                img#skulls(src='_images/skulls.jpg')

              a.box.fancybox(href='#petrelli')
                img(src='_images/box-petrelli.jpg')
                img#petrelli(src='_images/petrelli.jpg')

              //- a.box.fancybox(href='#rsg')
              //-   img(src='_images/box-rsg.jpg')
              //-   img#rsg(src='_images/rsg.jpg')

              //- a.box.fancybox(href='#oceano')
              //-   img(src='_images/box-oceano.jpg')
              //-   img#oceano(src='_images/oceano.jpg')

              //- a.box.fancybox(href='#kenricks')
              //-   img(src='_images/box-kenricks.jpg')
              //-   img#kenricks(src='_images/kenricks.jpg')

              a.flex-next.icon-arrow

        .boxes.bottom

          h4.type Development

          .flexslider.carousel

            .slides

              a.box(href='http://www.angryeagle.com' target='_blank')
                img(src='_images/box-angry-logo.jpg')
                img#angry(src='_images/angryeagle.jpg')

              a.box(href='https://www.phy.net/' target='_blank')
                img(src='_images/box-bkon.jpg')
                img#bkon(src='_images/bkon.jpg')

              a.box(href='http://ngutn.com' target='_blank')
                img(src='_images/box-ngu.jpg')

              a.box(href='http://www.marthaobryan.org/' target='_blank')
                img(src='_images/box-martha.jpg')
                img#martha(src='_images/martha.jpg')

              a.box(href='https://inquicker.com/' target='_blank')
                img(src='_images/box-inquicker.jpg')
                img#inquicker(src='_images/inquicker.jpg')

              a.box(href='http://precisionmetalwork.com/' target='_blank')
                img(src='_images/box-precision.jpg')
                img#precision(src='_images/precision.jpg')

              a.box.fancybox(href='#coffeelunch')
                img(src='_images/box-coffeelunch.jpg')
                img#coffeelunch(src='_images/coffeelunch.jpg')

              a.box.fancybox(href='#knockout')
                img(src='_images/box-knockout.jpg')
                img#knockout(src='_images/knockout.jpg')

              a.box.fancybox(href='#tsu')
                img(src='_images/box-tsu.jpg')
                img#tsu(src='_images/tsu.jpg')

              a.box.fancybox(href='#people')
                img(src='_images/box-simply-people.jpg')
                img#people(src='_images/simply-people.jpg')

              a.box.fancybox(href='#connico')
                img(src='_images/box-connico.jpg')
                img#connico(src='_images/connico.jpg')

              a.box.fancybox(href='#sef')
                img(src='_images/box-sef.jpg')
                img#sef(src='_images/sef.jpg')

              a.box(href='http://foodbeacon.com/' target='_blank')
                img(src='_images/box-sounds.jpg')
                img#sounds(src='_images/sounds.jpg')
