
.slides

  s#s1
  s#s2
  s#s3

  .slider
    
    .s1

      img.logo(src='_images/cream-legs.png' alt='Lindsey Maddox logo')
            
      h1.tag Lindsey Maddox is a web developer and graphic designer, creating beauty, function, and pixel-perfection.
      
      a.button(href='/pdf/lm-resume.pdf' title='Lindsey Maddox resume') Download Resume
            
    .s2

      img.woo(src='_images/lindsey-maddox.png' alt='image of Lindsey Maddox')

      h2 We work to bring out the best in all of our clients, regardless of age, size, or ability. If you are looking for a training regimen that works, look no further because when it comes to boxing fitness, we're in your corner!

    .s3
    
      img.snipe(src='_images/cream-legs.png' alt='small Lindsey Maddox logo')

  .scroll-indicator
    
    a.dot(href="#s1")
    
    a.dot(href="#s2")
    
    a.dot(href="#s3")
