
.slidesbox

  s#s1
  s#s2
  s#s3

  .slider

    .s1

      img.logo(src='_images/cream-legs.png' alt='Lindsey Maddox logo')

      h1.tag
        span &nbsp;&nbsp;&nbsp; Lindsey Maddox 
        |is a web developer
        br.full
        span.full &nbsp;
        |and graphic designer, creating beauty, function, and pixel-perfection.

      a.button(href='_pdf/maddox-resume.pdf' title='Lindsey Maddox resume' target='_blank') Download Resume

    .s2

      img.woo(src='_images/lindsey-maddox.png' alt='image of Lindsey Maddox')

      h2.testie &ldquo;Lindsey is one of those rare talents who can design 
        span and 
        |code... fantastically.&rdquo;

      p.author &mdash;Abbey Smith, Founder &amp; CEO, Tulu Creative

      a.button.fancybox(href='#testimonials') View Testimonials

      include testimonials

    .s3

      img.legit(src='_images/legitsey.jpg' alt='small Lindsey Maddox logo')

      script.
        const graduation = 2004;
        const currentYear = (new Date().getFullYear());
        const experience = currentYear - graduation;
        
      h3.folio With over
        script.
          document.write(experience);
        | 
        |years of experience and an impressive portfolio to back it up,
        
      p.proof Lindsey delivers clean compositions resulting in intuitive and accessible client experiences. She has a knack for fusing her natural artistic abilities with her graphic design training, producing original, imaginative brainchildren.

      a.button.fancybox(href='#poompoom') View Portfolio

      include slideshow

  .scroll-indicatory

    a.dot(href="#s1")

    a.dot(href="#s2")

    a.dot(href="#s3")
