
.slides

  s#s1
  s#s2
  s#s3

  .slider
    
    .s1

      img.logo(src='_images/cream-legs.png' alt='Lindsey Maddox logo')
            
      h1.tag 
        span Lindsey Maddox 
        |is a web developer 
        | 
        br.full
        |and graphic designer, creating beauty, function, and pixel-perfection.
      
      a.button(href='_pdf/lm-resume.pdf' title='Lindsey Maddox resume' target='_blank') Download Resume
            
    .s2

      img.woo(src='_images/lindsey-maddox.png' alt='image of Lindsey Maddox')

      h2.testie &ldquo;...Lindsey is one of those rare talents who can design 
        span and 
        |develop online assets...&rdquo;
      
      p.author &mdash;Abbey Smith, Founder &amp; CEO, Tulu Creative

      a.button.fancybox(href='_includes/testimonials' title='Lindsey Maddox testimonials' target='_blank') View Testimonials

    .s3
    
      img.snipe(src='_images/cream-girl.png' alt='small Lindsey Maddox logo')
        
      h3.folio More than 13 years of experience and an impressive portfolio to back it up... 

      p.proof Lindsey delivers clean compositions resulting in intuitive and accessible client experiences. She has a knack for fusing her natural artistic abilities with her graphic design training, producing original, imaginative brainchildren.

      a.button.fancybox(href='_includes/slideshow' title='Lindsey Maddox portfolio' target='_blank') View Slideshow

      .boxes
        
        h4.type Design
        
        a.box(href='_images/tsu.hpg')
          
          img(src='_images/box-tsu.jpg')

        a.box(href='_images/tsu.hpg')
          
          img(src='_images/box-tsu.jpg')

        a.box(href='_images/tsu.hpg')
          
          img(src='_images/box-tsu.jpg')

        a.box(href='_images/tsu.hpg')
          
          img(src='_images/box-tsu.jpg')

  .scroll-indicator
    
    a.dot(href="#s1")
    
    a.dot(href="#s2")
    
    a.dot(href="#s3")
