script.
  (function() {

    $(window).load(function() {
      $('.flexslider').flexslider({
        minItems: getGridSize(), // use function to pull in initial value
        maxItems: getGridSize() // use function to pull in initial value
      });
    });
  })
#poompoom(style='display:none;')

      .slides-container

        .boxes

          .flexslider.carousel

            .slides

              a.box.fancybox(href='#cirrus')
                img(src='_images/box-cirrus.jpg')
                img#cirrus(src='_images/cirrus.jpg')

              a.box.fancybox(href='#symphony')
                img(src='_images/box-symphony.jpg')
                img#symphony(src='_images/symphony.jpg')

              a.box.fancybox(href='#travis')
                img(src='_images/box-travismeadows.jpg')
                img#travis(src='_images/travismeadows.jpg')

              a.box.fancybox(href='#aidswalk')
                img(src='_images/box-aidswalk.jpg')
                img#aidswalk(src='_images/aidswalk.jpg')

              a.box.fancybox(href='#fasterfitness')
                img(src='_images/box-fasterfitness.jpg')
                img#fasterfitness(src='_images/fasterfitness.jpg')

              a.box.fancybox(href='#tuba')
                img(src='_images/box-tuba.jpg')
                img#tuba(src='_images/tuba.jpg')

              a.box.fancybox(href='#tulu')
                img(src='_images/box-tulu.jpg')
                img#tulu(src='_images/tulu.jpg')

              a.box.fancybox(href='#petrelli')
                img(src='_images/box-petrelli.jpg')
                img#petrelli(src='_images/petrelli.jpg')

              a.box.fancybox(href='#rsg')
                img(src='_images/box-rsg.jpg')
                img#rsg(src='_images/rsg.jpg')

              a.box.fancybox(href='#oceano')
                img(src='_images/box-oceano.jpg')
                img#oceano(src='_images/oceano.jpg')

              a.box.fancybox(href='#kenricks')
                img(src='_images/box-kenricks.jpg')
                img#kenricks(src='_images/kenricks.jpg')

              a.box.fancybox(href='#angry' target='_blank')
                img(src='_images/box-angry-logo.jpg')
                img#angry(src='_images/angryeagle.jpg')

              a.box.fancybox(href='#bkon' target='_blank')
                img(src='_images/box-bkon.jpg')
                img#bkon(src='_images/bkon.jpg')

              a.box.fancybox(href='#ball' target='_blank')
                img(src='_images/box-big-red-ball.jpg')
                img#ball(src='_images/big-red-ball.png')

              a.box.fancybox(href='#hack' target='_blank')
                img(src='_images/box-nash-hack.jpg')
                img#hack(src='_images/nash-hack.jpg')

              a.box.fancybox(href='#ngu' target='_blank')
                img(src='_images/box-ngu.jpg')
                img#ngu(src='_images/ngu.jpg')

              a.box.fancybox(href='#martha' target='_blank')
                img(src='_images/box-martha.jpg')
                img#martha(src='_images/martha.jpg')

              a.box.fancybox(href='#martha-current' target='_blank')
                img(src='_images/box-martha-current.jpg')
                img#martha-current(src='_images/martha-current.jpg')

              a.box.fancybox(href='#accordion')
                img(src='_images/box-accordion.jpg')
                img#accordion(src='_images/accordion.png')

              a.box(href='http://precisionmetalwork.com/' target='_blank')
                img(src='_images/box-precision.jpg')
                img#precision(src='_images/precision.jpg')

              a.box.fancybox(href='#coffeelunch')
                img(src='_images/box-coffeelunch.jpg')
                img#coffeelunch(src='_images/coffeelunch.jpg')

              a.box.fancybox(href='#knockout')
                img(src='_images/box-knockout.jpg')
                img#knockout(src='_images/knockout.jpg')

              a.box.fancybox(href='#tsu')
                img(src='_images/box-tsu.jpg')
                img#tsu(src='_images/tsu.jpg')

              a.box.fancybox(href='#people')
                img(src='_images/box-simply-people.jpg')
                img#people(src='_images/simply-people.jpg')

              a.box(href='http://foodbeacon.com/' target='_blank')
                img(src='_images/box-sounds.jpg')
                img#sounds(src='_images/sounds.jpg')
