
.slidesbox

  s#s1
  s#s2
  s#s3

  .slider
    
    .s1

      img.logo(src='_images/cream-legs.png' alt='Lindsey Maddox logo')
            
      h1.tag 
        span Lindsey Maddox 
        |is a web developer 
        | 
        br.full
        |and graphic designer, creating beauty, function, and pixel-perfection.
      
      a.button(href='_pdf/lm-resume.pdf' title='Lindsey Maddox resume' target='_blank') Download Resume
            
    .s2

      img.woo(src='_images/lindsey-maddox.png' alt='image of Lindsey Maddox')

      h2.testie &ldquo;Lindsey is one of those rare talents who can design 
        span and 
        |develop online assets...&rdquo;
      
      p.author &mdash;Abbey Smith, Founder &amp; CEO, Tulu Creative

      a.button.fancybox(href='_includes/testimonials' title='Lindsey Maddox testimonials' target='_blank') View Testimonials

    .s3
    
      img.snipe(src='_images/cream-girl.png' alt='small Lindsey Maddox logo')
        
      h3.folio ...more than 13 years of experience and an impressive portfolio to back it up... 

      p.proof Lindsey delivers clean compositions resulting in intuitive and accessible client experiences. She has a knack for fusing her natural artistic abilities with her graphic design training, producing original, imaginative brainchildren.

      a.button.fancybox(href='_includes/slideshow' title='Lindsey Maddox portfolio' target='_blank') View Slideshow

      .boxes
        
        //- h4.type Design

        .flexslider.carousel        
        
          ul.slides
            
            li.box
              
              a.fancybox(href='_images/tuba.jpg')
              
                img(src='_images/box-tuba.jpg')

            li.box(href='_images/travismeadows.jpg')
              
              img(src='_images/box-travismeadows.jpg')

            li.box(href='_images/symphony.jpg')
              
              img(src='_images/box-symphony.jpg')

            li.box(href='_images/aidswalk.jpg')
              
              img(src='_images/box-aidswalk.jpg')

            li.box(href='_images/simply-people.jpg')
              
              img(src='_images/box-simply-people.jpg')

            li.box(href='_images/rsg.jpg')
              
              img(src='_images/box-rsg.jpg')

            li.box(href='_images/petrelli.jpg')
              
              img(src='_images/box-petrelli.jpg')

            li.box(href='_images/sounds.jpg')
              
              img(src='_images/box-sounds.jpg')

            li.box(href='_images/oceano.jpg')
              
              img(src='_images/box-oceano.jpg')

            li.box(href='_images/martha.jpg')
              
              img(src='_images/box-martha.jpg')

            li.box(href='_images/kenricks.jpg')
              
              img(src='_images/box-kenricks.jpg')

            li.box(href='_images/kitty.jpg')
              
              img(src='_images/box-kitty.jpg')

            li.box(href='_images/fasterfitness.jpg')
              
              img(src='_images/box-fasterfitness.jpg')

            li.box(href='_images/skulls.jpg')
              
              img(src='_images/box-skulls.jpg')

            li.box(href='_images/inquicker.jpg')
              
              img(src='_images/box-inquicker.jpg')

            li.box(href='_images/angry-logo.jpg')
              
              img(src='_images/box-angry-logo.jpg')

            li.box(href='_images/coffeelunch.jpg')
              
              img(src='_images/box-coffeelunch.jpg')

            li.box(href='_images/bkon.jpg')
              
              img(src='_images/box-bkon.jpg')

            li.box(href='_images/cirrus.jpg')
              
              img(src='_images/box-cirrus.jpg')

            li.box(href='_images/precision.jpg')
              
              img(src='_images/box-precision.jpg')

            li.box(href='_images/tnrmt.jpg')
              
              img(src='_images/box-tnrmt.jpg')

            a.flex-next.icon-arrow

        .boxes.bottom
          
          h4.type Development
          
          .inner
          
            a.box(href='_images/martha.jpg')
              
              img(src='_images/box-martha.jpg')

            a.box(href='_images/inquicker.jpg')
              
              img(src='_images/box-inquicker.jpg')

            a.box(href='_images/sounds.jpg')
              
              img(src='_images/box-sounds.jpg')

            a.box(href='_images/precision.jpg')
              
              img(src='_images/box-precision.jpg')

            a.box(href='_images/sef.jpg')
              
              img(src='_images/box-sef.jpg')

            a.box(href='_images/skulls.jpg')
              
              img(src='_images/box-skulls.jpg')

            a.box(href='_images/connico.jpg')
              
              img(src='_images/box-connico.jpg')

            a.box(href='_images/coffeelunch.jpg')
              
              img(src='_images/box-coffeelunch.jpg')

            a.box(href='_images/simply-people.jpg')
              
              img(src='_images/box-simply-people.jpg')

            a.box(href='_images/tsu.jpg')
              
              img(src='_images/box-tsu.jpg')

            a.box(href='_images/bkon.jpg')
              
              img(src='_images/box-bkon.jpg')

            a.box(href='_images/tnrmt.jpg')
              
              img(src='_images/box-tnrmt.jpg')

  .scroll-indicatory
    
    a.dot(href="#s1")
    
    a.dot(href="#s2")
    
    a.dot(href="#s3")
