
.easyhtml5video
  video(property='video' autoplay='autoplay' title='background' loop='loop' onended='var v=this;setTimeout(function(){v.play()},300)')
    source(src='_includes/video/black.m4v' type='video/mp4')
    source(src='_includes/video/black.webm' type='video/webm')
    source(src='_includes/video/black.mp4')
    
    object(type='application/x-shockwave-flash' data='_includes/video/flashfox.swf' width='3840' height='2160' style='position:relative;') |
      param(name='movie' value='_includes/video/flashfox.swf')
      param(name='allowFullScreen' value='true')
      param(name='flashVars' value='autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=true&poster=background.files/black.jpg&src=black.m4v')
      embed(src='_includes/video/flashfox.swf' width='3840' height='2160' style='position:relative;' flashVars='autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=true&poster=_images/video/black.jpg&src=black.m4v' allowFullScreen='true' wmode='transparent' type='application/x-shockwave-flash' pluginspage='http://www.adobe.com/go/getflashplayer_en')
