
$red = #cc3333
$green = #3db779
$white = #e2e5ea
$black = #1c1919
$grey = #403d3c

$sidebar-collapsed-width = 75px
$sidebar-width = 280px
$sidebar-vertical-padding = 35px

$layout-max-width = 1000px

$primary-font = 'Quicksand'
$performance-font = 'Arial', sans-serif
$primary-font-size = 16px
$primary-font-line-height = 1.5em
$light = 300
$regular = 500
$bold = 700

primary-font(w)
  font-family: $primary-font, $performance-font
  font-weight: w
  line-height: $primary-font-line-height

html
  font-size: $primary-font-size
