
$icomoon-font-path ?= "../_fonts"

$icon-email = "\e900"
$icon-portfolio = "\e901"
$icon-twitter = "\e902"
$icon-resume = "\e903"
$icon-nashville = "\e904"
$icon-linkedin = "\e905"
$icon-github = "\e906"
$icon-arrow = "\e907"


@font-face
  font-family: 'icons'
  font-style: normal
  font-weight: normal
  src url($icomoon-font-path + '/icons.eot?8n1v0k')
  src url($icomoon-font-path + '/icons.eot?8n1v0k#iefix') format('embedded-opentype'), url($icomoon-font-path + '/icons.ttf?8n1v0k') format('truetype'), url($icomoon-font-path + '/icons.woff?8n1v0k') format('woff'), url($icomoon-font-path + '/icons.svg?8n1v0k#icons') format('svg')

[class^="icon-"], [class*=" icon-"]
  font-family: 'icons' !important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

.icon-email
  &:before
    content: $icon-email

.icon-portfolio
  &:before
    content: $icon-portfolio

.icon-twitter
  &:before
    content: $icon-twitter

.icon-resume
  &:before
    content: $icon-resume

.icon-nashville
  &:before
    content: $icon-nashville

.icon-linkedin
  &:before
    content: $icon-linkedin

.icon-github
  &:before
    content: $icon-github

.icon-arrow
  &:before
    content: $icon-arrow

.icon-arrow-back
  &:before
    content: $icon-arrow
    rotation: 180deg
