
$icomoon-font-path ?= "../_fonts"
$icon-arrow = "\e900"
$icon-email = "\e901"
$icon-github = "\e902"
$icon-linkedin = "\e903"
$icon-nashville = "\e904"
$icon-portfolio = "\e905"
$icon-resume = "\e906"
$icon-twitter = "\e907"

@font-face
  font-family 'lindseymaddox'
  font-style: normal
  font-weight: normal
  src: url($icomoon-font-path + '/lindseymaddox.eot')
  src: url($icomoon-font-path + '/lindseymaddox.eot#iefix') format('embedded-opentype'), url($icomoon-font-path + '/lindseymaddox.ttf') format('truetype'), url($icomoon-font-path + '/lindseymaddox.woff') format('woff'), url($icomoon-font-path + '/lindseymaddox.svg#lindseymaddox') format('svg')

[class^="icon-"], [class*=" icon-"]
  font-family: 'lindseymaddox' !important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

.icon-arrow
  &:before
    content: $icon-arrow
.icon-email
  &:before
    content: $icon-email
.icon-github
  &:before
    content: $icon-github
.icon-linkedin
  &:before
    content: $icon-linkedin
.icon-nashville
  &:before
    content: $icon-nashville
.icon-portfolio
  &:before
    content: $icon-portfolio
.icon-resume
  &:before
    content: $icon-resume
.icon-twitter
  &:before
    content: $icon-twitter
