
@font-face
  font-family: 'knockout'
  font-style: normal
  font-weight: normal
  src: url($font-path + 'knockout.eot?7hnaqn')
  src: url($font-path + 'knockout.eot?7hnaqn#iefix') format('embedded-opentype'), url($font-path + 'knockout.woff2?7hnaqn') format('woff2'), url($font-path + 'knockout.ttf?7hnaqn') format('truetype'), url($font-path + 'knockout.woff?7hnaqn') format('woff'), url($font-path + 'knockout.svg?7hnaqn#knockout') format('svg')

[class^="icon-"],
[class*=" icon-"]
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: 'knockout'!important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

.icon-

  &arrow:before
    content: $icon-arrow

  &contact:before
    content: $icon-contact

  &facebook:before
    content: $icon-facebook

  &glove:before
    content: $icon-glove

  &group:before
    content: $icon-group

  &heart:before
    content: $icon-heart

  &mindbody:before
    content: $icon-mindbody

  &private:before
    content: $icon-private

  &weight:before
    content: $icon-weight
