
button(w)
  background-color: $green
  border: 0
  color: $white
  display: block
  font-size: 13px
  letter-spacing: 2px
  margin-top: 15px
  max-width: 260px
  outline: 0
  padding: 1.2em 0
  primary-font($bold)
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: all ease 400ms
  width: w

  &:after
    content: '\e907'
    font-family: 'icons'
    font-size: 14px
    padding-left: 10px
    vertical-align: bottom

  &:hover
    background-color: $orange
    cursor: pointer

line-top()
  border: 2px solid $white
  border-bottom: none
  border-left: none
  border-right: none
  float: right
  margin: 30vh 0 45px
  width: 100%

line-bottom()
  border: 2px solid $white
  border-top: none
  border-left: none
  border-right: none
  float: right
  margin: 45px 0 0
  width: 100%
