
form.nav_contact
  width: 70%

  input
    background-color: $white
    border: none
    color: $grey
    display: block
    letter-spacing: 2px
    margin-bottom: 15px
    padding: 10px 0
    text-indent: 10px
    text-transform: uppercase
    width: 100%

    &[type='button']
      button(100%)
      text-indent: 0
